@page "/userstories/create"
@inject BlazorBugTrackerWithSchofolding.Data.BlazorBugTrackerWithSchofoldingContext DB
@using BlazorBugTrackerWithSchofolding.Models
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>UserStory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="UserStory" OnValidSubmit="AddUserStory" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="points" class="form-label">Points:</label> 
                <InputNumber id="points" @bind-Value="UserStory.Points" class="form-control" /> 
                <ValidationMessage For="() => UserStory.Points" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="asa" class="form-label">AsA:</label> 
                <InputText id="asa" @bind-Value="UserStory.AsA" class="form-control" /> 
                <ValidationMessage For="() => UserStory.AsA" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="iwant" class="form-label">IWant:</label> 
                <InputText id="iwant" @bind-Value="UserStory.IWant" class="form-control" /> 
                <ValidationMessage For="() => UserStory.IWant" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="sothat" class="form-label">SoThat:</label> 
                <InputText id="sothat" @bind-Value="UserStory.SoThat" class="form-control" /> 
                <ValidationMessage For="() => UserStory.SoThat" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="acceptancecriteria" class="form-label">AcceptanceCriteria:</label> 
                <InputText id="acceptancecriteria" @bind-Value="UserStory.AcceptanceCriteria" class="form-control" /> 
                <ValidationMessage For="() => UserStory.AcceptanceCriteria" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="UserStory.Name" class="form-control" /> 
                <ValidationMessage For="() => UserStory.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdate" class="form-label">CreateDate:</label> 
                <InputDate id="createdate" @bind-Value="UserStory.CreateDate" class="form-control" /> 
                <ValidationMessage For="() => UserStory.CreateDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="modifieddate" class="form-label">ModifiedDate:</label> 
                <InputDate id="modifieddate" @bind-Value="UserStory.ModifiedDate" class="form-control" /> 
                <ValidationMessage For="() => UserStory.ModifiedDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="reporter" class="form-label">Reporter:</label> 
                <InputText id="reporter" @bind-Value="UserStory.Reporter" class="form-control" /> 
                <ValidationMessage For="() => UserStory.Reporter" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="assignedto" class="form-label">AssignedTo:</label> 
                <InputText id="assignedto" @bind-Value="UserStory.AssignedTo" class="form-control" /> 
                <ValidationMessage For="() => UserStory.AssignedTo" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="priority" class="form-label">Priority:</label> 
                <InputText id="priority" @bind-Value="UserStory.Priority" class="form-control" /> 
                <ValidationMessage For="() => UserStory.Priority" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="status" class="form-label">Status:</label> 
                <InputText id="status" @bind-Value="UserStory.Status" class="form-control" /> 
                <ValidationMessage For="() => UserStory.Status" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/userstories">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public UserStory UserStory { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddUserStory()
    {
        DB.UserStory.Add(UserStory);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/userstories");
    }
}
